<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Blog Posts</h1>

  <div class="row">
    <% @blog_posts.each do |blog| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        <%= link_to blog.title, blog %>

        </div>
        
        <div class="panel-body">
         By <%= blog.author %> <br>
          Posted <%= blog.created_at.strftime('%m/%d/%Y at %I:%M%p') %>
          <p><%= blog.blog_entry[0..250] %>...[<%= link_to "Read More", blog %>]</p>
        </div>
        <div class="panel-footer">
          <%= link_to "Edit", edit_blog_post_path(blog), class: "btn btn-warning" %>
          <%= link_to "Delete", blog, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>

  <div class="new"><%= link_to 'New Blog Post', new_blog_post_path, class: "btn btn-primary btn-lg" %></div>
</div>